<footer style="z-index: 50; position: relative">
    <div class="container">
        <div class="row clearfix pt-5 pb-4">
            <div class="col-md-2 col-2">
                <a href="http://178.62.222.196">
                	<%= image_tag "footer-logo.png" %><!--
                    <img src="/assets/images/footer-logo.png" class="img-fluid img-responsive d-none d-md-inline-block" />
                    <img src="/assets/images/footer-logo-sm.png" srcset="/assets/images/footer-logo-sm@2x.png 2x, /assets/images/footer-logo-sm@3x.png 3x" class="img-fluid img-responsive d-inline d-md-none">-->
                </a>
            </div>
            <div class="col-md-10 col-10 text-right">
                <ul class="list-inline">
                    <li class="list-inline-item d-none d-md-inline-block"><a href="http://178.62.222.196" class="">Home <span class="sr-only">(current)</span></a></li>
                    <li class="list-inline-item d-none d-md-inline-block"><a href="http://178.62.222.196#talk-to-a-specialist" class="no-underline smooth-scroll active">Get KrescendoMED now</a></li>
                    <li class="list-inline-item d-none d-md-inline-block"><a href="http://178.62.222.196/features" class="no-underline ">KrescendoMED suite</a></li>
                    <li class="list-inline-item d-none d-md-inline-block"><a href="http://178.62.222.196/contact" class="no-underline ">Talk to a specialist</a></li>
                    <li class="list-inline-item"><a href="http://178.62.222.196/privacy-policy"  class="no-underline ">Privacy policy & Terms of use</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>