<section id="launch" class="pt-3 pb-3">
    <div class="container">
        <div class="row clearfix mb-2">
            <div class="col-md-12">
                <h2>Anticipate the launch of the next state of KrescendoMED.</h2>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-12 text-center">
                <h4 class="d-none d-md-inline-block"><%= image_tag "footer-clock-icon.svg" %> Expected in early Q1 of 2018</h4>
                <h4 class="d-block d-md-none"><br /><%= image_tag "footer-clock-icon.svg" %><br /><br /> Expected in early<br /> Q1 of 2018</h4>
            </div>
        </div>
    </div>
</section>
<!-- /Launch -->    <!-- Subscribe -->
<section id="subscribe" style="z-index: 50; position: relative">
    <div class="container">
        <div class="row clearfix pb-5 pt-5">
            <div class="col-md-6 col-sm-12">
                <div class="row clearfix h-100">
                    <div class="col-4 pr-0 mr-0">
                        <div class="row h-100">
                            <div class="col-sm-12 my-auto">
                            	<%= image_tag "footer-user-icon.svg" %>
                            </div>
                        </div>
                    </div>
                    <div class="col-8 pl-0 ml-0">
                        <div class="row h-100">
                            <div class="col-sm-12 my-auto" data-mh="counter" id="counter">
                                <div class="counter-wrap">
                                    <div class="counter col-4">
                                        <div class="number">0</div>
                                    </div> <!-- .counter -->
                                    <div class="counter col-4">
                                        <div class="number">7</div>
                                    </div> <!-- .counter -->
                                    <div class="counter col-4">
                                        <div class="number">3</div>
                                    </div> <!-- .counter -->
                                </div> <!-- .counter-wrap -->
                                <p class="text-white mb-0 pb-0 pl-2 pt-2">people watching this space</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 mt-3">
                <h3 class="w-100  text-center">Get updates on our journey to launch</h3>
                <form action="http://178.62.222.196/subscribe" method="post">
                    <input type="hidden" name="_token" value="2ZgOZd6TGvd5dIeTwWU1Hlga6WQUfL0XwfdlcwCW">

                    
                    
                    <div class="row clearfix">
                        <div class="col-md-6 mb-2">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="First Name" autocomplete="given-name" required name="first_name"/>
                            </div>
                        </div>
                        <div class="col-md-6 mb-2">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Last Name" autocomplete="family-name" required name="last_name"/>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-md-6 mb-2">
                            <div class="form-group">
                                <input type="tel" class="form-control" placeholder="Phone" autocomplete="tel" required name="phone"/>
                            </div>
                        </div>
                        <div class="col-md-6 mb-2">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email" autocomplete="email" required name="email"/>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary btn-block btn-lg">SUBMIT</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>