<div class="row clearfix mb-5">
                            <div class="col-md-10 offset-md-1">
                                <h2>Talk to a specialist<span class="text-turquoise">.</span></h2>
                                <br />
                                <h4>Learn more about KrescendoMED’s unmatched capabilities in healthcare targeting and programmatic media buying.</h4>
                            </div>
                        </div>
                        <form action="http://178.62.222.196/talk-to-a-specialist" method="post">
                            <input type="hidden" name="_token" value="2ZgOZd6TGvd5dIeTwWU1Hlga6WQUfL0XwfdlcwCW">

                            
                            
                            <div class="row clearfix">
                                <div class="col-md-5 offset-md-1">
                                    <div class="form-group">
                                        <input type="text" class="form-control text-purple" placeholder="First Name" autocomplete="given-name" pattern="[A-Za-z\s]+" required name="first_name"/>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <input type="text" class="form-control text-purple" placeholder="Last Name" autocomplete="family-name" pattern="[A-Za-z\s]+" required name="last_name"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-md-5 offset-md-1">
                                    <div class="form-group">
                                        <input type="tel" class="form-control text-purple" placeholder="Phone" autocomplete="tel" pattern="^(?:\(\d{3}\)|\d{3})[- ]?\d{3}[- ]?\d{4}$" required name="phone"/>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <input type="email" class="form-control text-purple" placeholder="Email" autocomplete="email" required name="email"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-md-10 offset-md-1">
                                    <div class="form-group text-purple">
                                        <select class="form-control text-purple select" style="width: 100%;" name="interested_in">
                                            <option disabled selected style="display: none;">I'm interested in learning about</option>
                                            <option value="Programmatic media buying services">Programmatic media buying services</option>
                                            <option value="The KrescendoMED suite coming soon">The KrescendoMED suite coming soon</option>
                                            <option value="The next state of KrescendoMED">The next state of KrescendoMED</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-md-10 offset-md-1">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary btn-block btn-lg">SUBMIT</button>
                                    </div>
                                </div>
                            </div>
                        </form>